
@{
    ViewBag.Title = "博客";
    Layout = "~/Views/Shared/BlogPage.cshtml";
}
<div class="container">
    <div class="row">
        <div class="col-md-2">
            <div class="row" id="nav">
                <div class="thumbnail">
                    <img src="~/Images/街景1.jpg" />
                    <span class="pull-right">——<small class="text-info ">测试</small></span>
                </div>

            </div>
        </div>
        <div class="col-md-10">
            <div class="row">
                <div class="row">
                    <div class="col-md-4"></div>
                    <div class="col-md-4 text-center"><h2>测试内容</h2></div>
                    <div class="col-md-4"></div>
                </div>
                <div class="row">
                    <div class="col-md-4"></div>
                    <div class="col-md-4 text-center"><small class="text-primary" id="date">创建时间： @DateTime.Now</small></div>
                    <div class="col-md-4"></div>
                </div>
                <div class="row">
                    <div class="col-md-offset-1 col-md-10" id="content">
                        <p>　三月，醉一场青春的流年。慢步在三月的春光里，走走停停，看花开嫣然，看春雨绵绵，感受春风拂面，春天，就是青春的流年。青春，是人生中最美的风景。青春，是一场花开的遇见；青春，是一场痛并快乐着的旅行；青春，是一场轰轰烈烈的比赛；青春，是一场鲜衣奴马的争荣岁月；青春，是一场风花雪月的光阴。</p>

                        <p>　青春往事，多么甜蜜；青春岁月，多么靓丽；青春流年，如火如荼。青春里，我们向着梦想前进。跌倒过，伤心过，快乐过，痛苦过，孤独过，彷徨过，迷茫过。总是，在悠悠的岁月中徘徊；总是，在如春的生命中成长；总是，在季节的交替中感悟人生四季的美妙与韵律；总是，在多愁善感中体悟青春的美好与无奈。</p>

                        <p>　三月的鲜花，一树树，一束束，一簇簇，而青春，就是像三月的鲜花一样美丽迷人，生机盎然，姹紫嫣红，生机勃勃。三月，是青春里最美最温暖的风景。三月的美，就像青春的美，充满活力，充满生机，充满昂扬的斗志。三月的美，就像青春的花季，在那里我们可以感受青春的跳动与感动，感受青春的曼妙与奇妙；感受青春的悸动与心跳。</p>

                        <p>　青春，如三月的春光，安暖向阳。在美丽的青春年华，我们手牵手，肩并肩，跨过岁月山河，跨过锦瑟流年，跨过天涯海角，在三月的春光里沐浴金色的光泽。三月的春光，让青春的我们看到希望，看到自己有一颗年轻跳动的心，看到蓝天白云，看到明媚的灿烂。三月的春光，温暖无比，就像我们的青春，有着长辈的呵护，有着老师的循循教导，它们就像春光，照耀着我们年轻的心。</p>

                        <p>　青春，如三月的春雨，我们在春雨中得到滋润。春雨，淅淅沥沥，纷纷扬扬，打在青春的雨季，打在我们心里，打在我们的生活里，打在我们的生命中，打在我们的灵魂深处。一场春雨，滋润着我们的青春流年，让我们快乐成长，让我们如沐春雨，让我们感受亲恩。三月的春雨，就像我们的父母，用他们的爱心，滋润着我们幼小不安的心灵。</p>

                        <p>　青春，如三月的春风，我们沐浴在春风里。三月的春风，是我们的朋友，是我们的同窗，是陪伴我们成长的玩伴。因为有了春风，我们感受到友谊的温暖；因为有了春风，我们不再寂寞；因为有了春风，我们总在需要帮助的时候，有他们伸出援助之手。春风，是那样感情丰富，温婉细腻。在春风里，我们跳着，唱着，欢呼着，只因为这如春风的情谊。</p>

                        <p>　青春，如三月的春花，我们陶醉在春花里。三月的春花，是我们的初恋。花开半夏，岁月静好，浅笑安然。三月春花，有着不同的颜色，不同的形状，不同的意向。那水灵灵的粉红的桃花，恋着春风，恋着春雨； 那纯白娇小的茉莉，散发着淡淡的清香；那深红的杜鹃，像燃烧着红色的火焰。初恋，是一种颜色鲜艳的花朵；初恋，是一种幽幽的馨香；初恋，是一种岁月的沉淀。</p>

                        <p>　青春，是三月的风景，美到极致。我们，在三月的春雨中奔跑嬉戏，在春风中感受它的温润，在春光里感受暖暖的温度，在春花里享醉人的芬芳。三月的风景，陪我们一路向梦想的地方进发；三月的风景，让我们路上不再孤独，不再迷茫，不再彷徨；三月的风景，让我们的青春更加色彩斑斓，鸟语花香。</p>

                        <p>　三月，醉一场青春的流年。我们珍惜三月，就像我们珍惜来之不易的幸福青春。三月的雨，三月的风，三月的春光，三月的花香，让我们沉醉不知归路，兴尽晚回舟。在这样一场盛大而清新的流年，我们懂得，青春是一种一去不复返的风景，应当好好保护；青春是一种美丽而活跃的热情，我们必须耐心保持；青春是一种来之不易的懂得，我们必须细心呵护。</p>

                        <p>　三月，醉一场青春的流年。风过无痕，花开向暖。无论是哪一年的三月，都是青春是里最美丽的花朵，都是青春里最难舍的风景，都是青春里最妩媚的清香。无论在哪一年的三月，无论我们有没有老去，心中的青春千万不能割舍，心中的青春永远跳动着快乐，心中的青春永远伴随我们一生一世。</p>

                        <p>　三月，醉一场青春的流年。人生的三月，我们正值青春，风华正茂。在这样一个充满活力的年纪，我们要把握机遇，朝人生的巅峰冲刺；我们要珍惜每一个让我们流连忘返的风景，保持年青的心态，随时准备着与时间赛跑；我们要在时光深处，保持一种淡然而洒脱，矜持而深情的微笑，让三月的风景陪我们笑语盈盈，清芬一路。</p>
                    </div>
                    <div class="col-md-1"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<br />
@section script{
    <script>
        $(function () {
            ctrl.ajaxWebApi({
                url: 'Api/Blogs/GetBlogsInfo',
                type: 'post',
                data: { "": localStorage.userinfo },
                success: function (result) {
                    if (result == "请先登录!") {
                        ctrl.msg(result);
                        setTimeout(window.location.href = "/Home/Index", 2000);
                    } else {
                        var html = '';
                        $.each(result, function (i, data) {
                            html += '<div style="border-bottom: dotted" class="row" ><small class="text-success"><a onclick="showDetails(\'' + data.blogsId + '\')">' + data.title + '</a></small>';
                            html += '<small class="text-danger col-md-offset-3">评论：' + data.count + '</small>';
                            html += '</div>';
                        });
                        $("#nav").append(html);
                    }
                }
            });
            //ctrl.ajaxController({
            //    url: '/Content/GetUserInfoById',
            //    data: { id: localStorage.userinfo },
            //    type: 'post',
            //    success: function (result) {
            //        var data = JSON.parse(result);
            //        if (data) {
            //            console.log(data);
            //        } else {
            //            window.location.href = "/Home/Index";
            //        }
            //    }
            //});
        });
        function showDetails(Id) {
            ctrl.ajaxWebApi({
                url: 'Api/Blogs/GetBlogsInfo',
                type: 'post',
                data: { "": Id },
                success: function (result) {
                    $.each(result, function (i, data) {
                        $("h2").html(data.title);
                        $("#date").html(data.date.replace('T', ' '));
                        $("#content").html(data.content);
                    });
                }
            });
        }
    </script>
}
