<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.IgnoreSectionHandler"/>
  </configSections>

  <log4net>
    <logger name="info">
      <level value="INFO"/>
      <appender-ref ref="ConsoleAppender"/>
    </logger>
    <appender name ="ConsoleAppender" type="log4net.Appender.ColoredConsoleAppender">
      <!--日志颜色-->
      <mapping>
        <level value="INFO" />
        <foreColor value="Green" />
      </mapping>
      <mapping>
        <level value="ERROR" />
        <foreColor value="Red, HighIntensity" />
      </mapping>
      <!--日志的布局-->
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date{HH:mm:ss,fff} [%-5level] %m %n" />
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <!-- 控制输出日志的级别范围 -->
        <param name="LevelMin" value="Info" />
        <param name="LevelMax" value="Error" />
      </filter>
    </appender>
  </log4net>
</configuration>
