<!DOCTYPE html>
<html ng-app="app">
<head>
    <meta charset="utf-8" />
    <title></title>
    <script src="../Scripts/bootstrap.js"></script>
    <script src="../Scripts/angular.min.js"></script>
    <script src="../App/AngularjsApp.js"></script>
    <script src="Index.js"></script>
</head>
<body ng-controller="userCtrl">
    <input ng-model="userName" placeholder="用户名"/>
    <input ng-model="email" placeholder="邮箱" />
    <input ng-model="passWord" placeholder="密码" />
   <button ng-click="post()">提交</button>
    <table>
        <tr ng-repeat="x in data">
            <td>{{x.userName}}</td>
            <td>{{x.email}}</td>
            <td>{{x.passWord}}</td>
        </tr>
    </table>

</body>
</html>



